<div class="col-md-8 col-xs-12">
  <% unless @exercises.empty? %>
  <h2>All My Workout Records</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Duration (min)</th>
        <th>Workout Details</th>
        <th>Activity Date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.duration_in_min %></td>
        <td><%= truncate(exercise.workout, length: 100) %></td>
        <td><%= exercise.workout_date %></td>
        <td><%= link_to "Show", [current_user, exercise] %></td>
        <td><%= link_to "Edit", [:edit, current_user, exercise] %></td>
        <td><%= link_to "Destroy", [current_user, exercise], method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
      <% end %>
    </tbody>

  </table>
  <br>

  <% else %>

    <div class="alert alert-danger messgae-font text-center" role="alert">
      No workout yet.
    </div>
    <br>

  <% end %>

  <%= link_to "New Workout", new_user_exercise_path(current_user), class: "btn btn-primary link" %>

  <br>
  <%= content_tag :div, "", id: "chart", data: {workouts: @exercises} %>
  <br>
  <br>
</div>

<div class="col-md-4 col-xs-12">
  <h2 class="text-left">My Buddies</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Action</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <td>
              <div class="col-md-6 friend_name">
                <%= friend.first_name %>
              </div>
            </td>
            <td>

              <div class="col-md-3">
                <div class="btn-details">
                  <%= link_to "Details", friendship_path(current_user.current_friendship(friend)),
                    class: "btn btn-xs btn-primary link" %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="btn-unfollow">
                  <%= link_to "Unfollow", friendship_path(current_user.current_friendship(friend)),
                    method: :delete, data: { confirm: "Are you sure?" },
                    class: "btn btn-xs btn-danger link" %>
                </div>
              </div>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
